# Java
*.class
*.war
*.ear
target/

# Spring Boot
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
/.mvn

# Application Properties
/src/main/resources/application.properties

# IDEs
.idea/
.vscode/
*.iml

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
.gradle/
/build/
